.all{
    background-color:#FAF8FF;
}
.sym{
    display: flex;
padding-left: 650px; 
    align-items: center; 
    padding-top: 50px;
}
.sym img{
    height:5vh;
    display: block; 
}

.sym p{
    color: #5D22DC;
}
.all h1{
text-align: center;
}
